.product-details {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 10px;
    width: 220px;
    box-shadow: 0 0 2px gray;
}

.product-details__img {
    margin: 0 auto;
}

.product-details__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 5px 25px 26px;
}

.product-details__title {
    margin-top: 0;
    width: 100%;
    text-align: center;
}

.product-details__description{
    text-align: justify;
    font-size: 0.9em;
}

.product-details__price {
    margin: 0;
    margin-bottom: 10px;
    padding-top: 10px;
}

.product-details__cart {
    padding: 5px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    background-color: gray;
    border-radius: 6px;
}