.page-caption__title {
    text-align: center;
    font-size: 2em;
}

.catalog__wrapper {
    margin-bottom: 30px;
    box-shadow: 0 0 2px black;
}

.catalog__list {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

.catalog__item {
    margin-bottom: 30px;
}

.catalog__item:not(:nth-child(4n)) {
    margin-right: 5.3968%;
}