.product {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 220px;
    box-shadow: 0 0 2px gray;
}

.product__link-image {
    display: flex;
    width: 100%;
}

.product__img {
    margin: 0 auto;
}

.product__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 5px 25px 26px;
}

.product__description-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    height: 50%;
}

.product__title {
    margin-top: 0;
    width: 100%;
    text-align: center;
}

.product__description {
    text-align: justify;
    font-size: 0.9em;
}

.product__price-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    height: 50%;
}

.product__price {
    margin: 0;
    margin-bottom: 10px;
    padding-top: 10px;
}

.product__cart {
    padding: 5px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    background-color: gray;
    border-radius: 6px;
}

