<section class="catalog">
  <div class="catalog__wrapper container">
    <ul class="catalog__list">
      <li class="catalog__item product" *ngFor="let prod of products | async">
        <a class="product__link-image" [title]="'Подробнее о ' + prod.name">
            <img class="product__img" [src]="prod.imageUrl" [alt]="prod.name" width="200" height="200">
        </a>
        <div class="product__wrapper">
          <div class="product__description-wrapper">
              <a class="product__link-title" [title]="'Подробнее о ' + prod.name">
              <h3 class="product__title">{{prod.name}}</h3>
              </a>
              <span class="product__description">{{prod.description}}</span>
          </div>
          <div class="product__price-wrapper">
              <p class="product__price">{{prod.price}} руб.</p>
              <a class="product__cart">В корзину</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
